*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("https://static.vecteezy.com/system/resources/previews/001/225/154/non_2x/black-low-poly-geometric-background-vector.jpg");
}
.top-div{
    width: 1700px;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
}
.container{
    width: 1000px;
    margin: 0 auto;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
color: #fff;
font-family: math;
font-size: 50px;
}
h3{
color: #fff;
font-family: math;
font-size: 20px;
margin-top: 10px;
}

.inputBox{
    margin-top: 35px;
}

.inputBox input{
    width: 350px;
    height: 50px;
    padding: 0px 15px;
    border-radius: 25px;
    border: none;
}
.inputBox input:focus{
    outline: none;
}

.inputBox button{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    border: none;
    margin-left: 15px;
}

button{
    cursor: pointer;
}

.main{    
    border-radius: 41px;
    border: 1px solid #fff;
    padding: 5px 41px;
    background: #fff;
    cursor: pointer;
}
.box{
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 10px 14px;
    cursor: pointer;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}


.off-box{
    transform: translateX(-33px);
    -webkit-transform: translateX(-33px);
    -moz-transform: translateX(-33px);
    -ms-transform: translateX(-33px);
    -o-transform: translateX(-33px);
}
.off{
    background-color: red;
    color: #fff;
}
.on{
    background-color: rgb(0, 255, 106);
    color: #000000;
}
.on-box{
    transform: translateX(33px);
    -webkit-transform: translateX(33px);
    -moz-transform: translateX(33px);
    -ms-transform: translateX(33px);
    -o-transform: translateX(33px);
}